.container {
    width: 100%;
    max-width: 2560px;
    padding: 15px;
    margin: 0 auto;
}

.container div {
    float: left;
    margin-bottom: 15px;
}

.logo {
    float: left;
}

.schedule {
    width: 60%;
    background-color: antiquewhite;
    overflow: hidden;
}

.number_group {
    width: 100%;
}

.string {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px double black;

}


nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

nav a{
    text-decoration: none;
    line-height: 38px;
}


.header {
    background-color: #6ce3e3;
}


