<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Main Page</title>
</head>
<body>
    <div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell"><p align="center" class="day">Понедельник</p></div>
            <div class="divTableCell"><p align="center" class="day">Вторник</p></div>
            <div class="divTableCell"><p align="center" class="day">Среда</p></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                <div class="string"><p class="Number_lesson">1.</p></div>
                <div class="string"><p class="Number_lesson">2.</p></div>
                <div class="string"><p class="Number_lesson">3.</p></div>
                <div class="string"><p class="Number_lesson">4.</p></div>
                <div class="string"><p class="Number_lesson">5.</p></div>
                <div class="string"><p class="Number_lesson">6.</p></div>
                <div class="string"><p class="Number_lesson">7.</p></div>
            </div>
            <div class="divTableCell"><div class="string"><p class="Number_lesson">1.</p></div>
                <div class="string"><p class="Number_lesson">2.</p></div>
                <div class="string"><p class="Number_lesson">3.</p></div>
                <div class="string"><p class="Number_lesson">4.</p></div>
                <div class="string"><p class="Number_lesson">5.</p></div>
                <div class="string"><p class="Number_lesson">6.</p></div>
                <div class="string"><p class="Number_lesson">7.</p></div></div>
            <div class="divTableCell"><div class="string"><p class="Number_lesson">1.</p></div>
                <div class="string"><p class="Number_lesson">2.</p></div>
                <div class="string"><p class="Number_lesson">3.</p></div>
                <div class="string"><p class="Number_lesson">4.</p></div>
                <div class="string"><p class="Number_lesson">5.</p></div>
                <div class="string"><p class="Number_lesson">6.</p></div>
                <div class="string"><p class="Number_lesson">7.</p></div></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell"><p align="center" class="day">Четверг</p></div>
            <div class="divTableCell"><p align="center" class="day">Пятница</p></div>
            <div class="divTableCell"><p align="center" class="day">Суббота</p></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell"><div class="string"><p class="Number_lesson">1.</p></div>
                <div class="string"><p class="Number_lesson">2.</p></div>
                <div class="string"><p class="Number_lesson">3.</p></div>
                <div class="string"><p class="Number_lesson">4.</p></div>
                <div class="string"><p class="Number_lesson">5.</p></div>
                <div class="string"><p class="Number_lesson">6.</p></div>
                <div class="string"><p class="Number_lesson">7.</p></div></div>
            <div class="divTableCell"><div class="string"><p class="Number_lesson">1.</p></div>
                <div class="string"><p class="Number_lesson">2.</p></div>
                <div class="string"><p class="Number_lesson">3.</p></div>
                <div class="string"><p class="Number_lesson">4.</p></div>
                <div class="string"><p class="Number_lesson">5.</p></div>
                <div class="string"><p class="Number_lesson">6.</p></div>
                <div class="string"><p class="Number_lesson">7.</p></div></div>
            <div class="divTableCell"><div class="string"><p class="Number_lesson">1.</p></div>
                <div class="string"><p class="Number_lesson">2.</p></div>
                <div class="string"><p class="Number_lesson">3.</p></div>
                <div class="string"><p class="Number_lesson">4.</p></div>
                <div class="string"><p class="Number_lesson">5.</p></div>
                <div class="string"><p class="Number_lesson">6.</p></div>
                <div class="string"><p class="Number_lesson">7.</p></div></div>
        </div>
    </div>
</div>
</body>
</html>