<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Start Page</title>
</head>
<body>


<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><p align="center" class="day">Понедельник</p></div>
</div>
<div class="divTableRow">
<div class="divTableCell">
                <div class="string1"><p class="Number_lesson">1. {{ arr[0] }}{{ arr_prep[0] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[1] }}{{ arr_prep[1] }}</p></div>
                <div class="string1"><p class="Number_lesson">2. {{ arr[2] }}{{ arr_prep[2] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[3] }}{{ arr_prep[3] }}</p></div>
                <div class="string1"><p class="Number_lesson">3. {{ arr[4] }}{{ arr_prep[4] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[5] }}{{ arr_prep[5] }}</p></div>
                <div class="string1"><p class="Number_lesson">4. {{ arr[6] }}{{ arr_prep[6] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[7] }}{{ arr_prep[7] }}</p></div>
                <div class="string1"><p class="Number_lesson">5. {{ arr[8] }}{{ arr_prep[8] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[9] }}{{ arr_prep[9] }}</p></div>
                <div class="string1"><p class="Number_lesson">6. {{ arr[10] }}{{ arr_prep[10] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[11] }}{{ arr_prep[11] }}</p></div>
                <div class="string1"><p class="Number_lesson">7. {{ arr[12] }}{{ arr_prep[12] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[13] }}{{ arr_prep[13] }}</p></div>
    </div>
</div>
<div class="divTableRow">
<div class="divTableCell"><p align="center" class="day">Вторник</p></div>
</div>
<div class="divTableRow">
<div class="divTableCell">
                <div class="string1"><p class="Number_lesson">1. {{ arr[14] }}{{ arr_prep[14] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[15] }}{{ arr_prep[15] }}</p></div>
                <div class="string1"><p class="Number_lesson">2. {{ arr[16] }}{{ arr_prep[16] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[17] }}{{ arr_prep[17] }}</p></div>
                <div class="string1"><p class="Number_lesson">3. {{ arr[18] }}{{ arr_prep[18] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[19] }}{{ arr_prep[19] }}</p></div>
                <div class="string1"><p class="Number_lesson">4. {{ arr[20] }}{{ arr_prep[20] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[21] }}{{ arr_prep[21] }}</p></div>
                <div class="string1"><p class="Number_lesson">5. {{ arr[22] }}{{ arr_prep[22] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[23] }}{{ arr_prep[23] }}</p></div>
                <div class="string1"><p class="Number_lesson">6. {{ arr[24] }}{{ arr_prep[24] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[25] }}{{ arr_prep[25] }}</p></div>
                <div class="string1"><p class="Number_lesson">7. {{ arr[26] }}{{ arr_prep[26] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[27] }}{{ arr_prep[27] }}</p></div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><p align="center" class="day">Среда</p></div>
</div>
<div class="divTableRow">
<div class="divTableCell">
                <div class="string1"><p class="Number_lesson">1. {{ arr[28] }}{{ arr_prep[28] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[29] }}{{ arr_prep[29] }}</p></div>
                <div class="string1"><p class="Number_lesson">2. {{ arr[30] }}{{ arr_prep[30] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[31] }}{{ arr_prep[31] }}</p></div>
                <div class="string1"><p class="Number_lesson">3. {{ arr[32] }}{{ arr_prep[32] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[33] }}{{ arr_prep[33] }}</p></div>
                <div class="string1"><p class="Number_lesson">4. {{ arr[34] }}{{ arr_prep[34] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[35] }}{{ arr_prep[35] }}</p></div>
                <div class="string1"><p class="Number_lesson">5. {{ arr[36] }}{{ arr_prep[36] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[37] }}{{ arr_prep[37] }}</p></div>
                <div class="string1"><p class="Number_lesson">6. {{ arr[38] }}{{ arr_prep[38] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[39] }}{{ arr_prep[39] }}</p></div>
                <div class="string1"><p class="Number_lesson">7. {{ arr[40] }}{{ arr_prep[40] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[41] }}{{ arr_prep[41] }}</p></div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><p align="center" class="day">Четверг</p></div>
</div>
<div class="divTableRow">
<div class="divTableCell">
                <div class="string1"><p class="Number_lesson">1. {{ arr[42] }}{{ arr_prep[42] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[43] }}{{ arr_prep[43] }}</p></div>
                <div class="string1"><p class="Number_lesson">2. {{ arr[44] }}{{ arr_prep[44] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[45] }}{{ arr_prep[45] }}</p></div>
                <div class="string1"><p class="Number_lesson">3. {{ arr[46] }}{{ arr_prep[46] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[47] }}{{ arr_prep[47] }}</p></div>
                <div class="string1"><p class="Number_lesson">4. {{ arr[48] }}{{ arr_prep[48] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[49] }}{{ arr_prep[49] }}</p></div>
                <div class="string1"><p class="Number_lesson">5. {{ arr[50] }}{{ arr_prep[50] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[51] }}{{ arr_prep[51] }}</p></div>
                <div class="string1"><p class="Number_lesson">6. {{ arr[52] }}{{ arr_prep[52] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[53] }}{{ arr_prep[53] }}</p></div>
                <div class="string1"><p class="Number_lesson">7. {{ arr[54] }}{{ arr_prep[54] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[55] }}{{ arr_prep[55] }}</p></div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><p align="center" class="day">Пятница</p></div>
</div>
<div class="divTableRow">
<div class="divTableCell">
                <div class="string1"><p class="Number_lesson">1. {{ arr[56] }}{{ arr_prep[56] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[57] }}{{ arr_prep[57] }}</p></div>
                <div class="string1"><p class="Number_lesson">2. {{ arr[58] }}{{ arr_prep[58] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[59] }}{{ arr_prep[59] }}</p></div>
                <div class="string1"><p class="Number_lesson">3. {{ arr[60] }}{{ arr_prep[60] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[61] }}{{ arr_prep[61] }}</p></div>
                <div class="string1"><p class="Number_lesson">4. {{ arr[62] }}{{ arr_prep[62] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[63] }}{{ arr_prep[63] }}</p></div>
                <div class="string1"><p class="Number_lesson">5. {{ arr[64] }}{{ arr_prep[64] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[65] }}{{ arr_prep[65] }}</p></div>
                <div class="string1"><p class="Number_lesson">6. {{ arr[66] }}{{ arr_prep[66] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[67] }}{{ arr_prep[67] }}</p></div>
                <div class="string1"><p class="Number_lesson">7. {{ arr[68] }}{{ arr_prep[68] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[69] }}{{ arr_prep[69] }}</p></div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><p align="center" class="day">Суббота</p></div>
</div>
<div class="divTableRow">
<div class="divTableCell">
                <div class="string1"><p class="Number_lesson">1. {{ arr[70] }}{{ arr_prep[70] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[71] }}{{ arr_prep[71] }}</p></div>
                <div class="string1"><p class="Number_lesson">2. {{ arr[72] }}{{ arr_prep[72] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[73] }}{{ arr_prep[73] }}</p></div>
                <div class="string1"><p class="Number_lesson">3. {{ arr[74] }}{{ arr_prep[74] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[75] }}{{ arr_prep[75] }}</p></div>
                <div class="string1"><p class="Number_lesson">4. {{ arr[76] }}{{ arr_prep[76] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[77] }}{{ arr_prep[77] }}</p></div>
                <div class="string1"><p class="Number_lesson">5. {{ arr[78] }}{{ arr_prep[78] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[79] }}{{ arr_prep[79] }}</p></div>
                <div class="string1"><p class="Number_lesson">6. {{ arr[80] }}{{ arr_prep[80] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[81] }}{{ arr_prep[81] }}</p></div>
                <div class="string1"><p class="Number_lesson">7. {{ arr[82] }}{{ arr_prep[82] }}</p></div>
                <div class="string2"><p class="Number_lesson">{{ arr[83] }}{{ arr_prep[83] }}</p></div>
</div>
</div>
</div>
</div>

</body>
</html>